@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
    /*background-color: black;*/
    background-image: url(assets/pokedex.webp);
    min-height: 100vh;
    
}

.app {
    /*background-color: #ffcb04;*/
    background-image: url(assets/pokeback.jpg);
    min-height: 100vh;
    padding-block: 20px;
}
header {
    text-align: center;
    margin-bottom: 40px;

    & h2 {
     font-size: 80px;
    }
}

header h1 {
    text-transform: uppercase;
    font-size: 5vw;
    color: white;
    text-shadow: 
    2px 2px 0 #000,  
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title {
            -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1 both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1 both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  

.pokedex, .please {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    color: white;
    text-shadow: 
    2px 2px 2px #000,  
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;
    letter-spacing: 1px;
    font-size: x-large;
    /*background-color: #3c7dca;*/
    background-image: url(assets/pokedex.webp);
    border: 3px solid black;
    border-radius: 10px;
    width: 900px;
    padding: 20px;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 100px;
}

header input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pokedex-header {
    margin-bottom: 20px;
}

.pokedex-body {
    display: flex;
    justify-content: space-between;
    width: 600px;
    gap: 20px;

}

.pokedex-imagen {
    position: relative;
}

.pokedex-imagen img {
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    margin: 20px 0;
    width: 300px;
    margin: 0;
}
.pokedex-imagen h3 {
    position: absolute;
    bottom: 0;
    left: 108px;
}

.pokedex-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    justify-content: space-evenly;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats div {
    display: flex;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    padding-inline: 30px;
}
.stats div:nth-child(1) {
    background-color: rgb(3, 215, 3);
}
.stats div:nth-child(2) {
    background-color: rgb(240, 0, 64);
    }
.stats div:nth-child(3) {
    background-color: rgb(108, 36, 240);
    }

.type {
    display: flex;
    background-color: rgb(202, 202, 202);
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding-block: 5px;
    margin-inline: 15px;
    font-size: 20px;
}

.favoritos {
    position: fixed;
    top: 0;
    right: -365px;
    width: 365px;
    height: 100%;
    background: #f0f0f0;
    transition: right 0.3s ease; 
    overflow-y: auto;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .favoritos.visible {
    right: 0; 
  }
  
  .favoritos-lista {
    display: flex;
    flex-direction: column;
  }
  
  .favorito-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .favorito-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .favorito-item p {
    font-size: 20px;
    font-weight: 700;
  }

  .side-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 364px;
    height: 100%;
    background: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .side-menu button {
    display: block;
    margin-bottom: 10px;
  }
  
  #button-favs {
    position: absolute;
    top: 14px;
    right: 284px;
}

.fail {
    position: absolute;
    top: -45px;
    left: 340px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 400px;
    align-items: center;
    margin-inline: auto;
}
.lupa {
    width: 350px;
    margin-top: 20px;
}

.lupa-1 {
    padding: 20px;
}

.botonIng {
   position: fixed;
    width: 365px;
    height: 100%;
    left: 250px;
    padding: 15px;
    /*padding-top: 15px;*/
   }

.googleado {
    font-size: medium;
    margin-left: 110px;
    padding-top: 30px;
}

.pelisImg{
  border-radius: 10px;
  background-color: azure;
  width: 100%;
  height: 350px;
}

.lupa-2 {
  margin-bottom: 20px;
  border-radius: 5px;
}