@font-face {
    font-family: 'POKPIX1';
    src: url('./assets/POKPIX1.TTF') format('truetype');
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5DB9FF;
    width: 100%;
    padding-bottom: 20px;
}

header h1 {
    text-transform: uppercase;
    font-size: 9vw;
}

header input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header button {
    background-color: #2c71a5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

main {
    background-color: white;
    width: 100%;
}

section.pokedex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "name type"
        "pic stats";
    align-items: center;
    justify-items: center;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #d7253d;
    border: 5px solid #844724;
    border-radius: 15px;
    max-width: 500px;
}



h1 {
    margin: 10px 0;
}

h2 {
    text-transform: capitalize;
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
}

small {
    margin-top: 0;
    font-size: 11px;
    color: #ffffff;
    opacity: 0.9;
}

.fail {
    grid-column: span 2;
    font-size: 12px;
}

.stats {
    display: grid;
    grid-area: stats;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    width: auto;
    border-radius: 10px;
    padding-top: 15px;
}

.type {
    grid-area: type;
}

img {
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    width: 200px;
}

.imagen {
    grid-area: pic;
    position: relative;
}

.num {
    position: absolute;
    bottom: 30px;
    left: 75px;
    font-size: 15px;
}

.nombre {
    grid-area: name;
}

.please {
    grid-column: span 2;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

footer p,
header p {
    font-family: 'POKPIX1', sans-serif;
    user-select: none;
    text-align: center;
    word-break: break-word;
}

@media screen and (max-width: 600px) {
    section.pokedex {
        margin: 5px;
        padding: 5px;
        grid-template-columns: 1fr;
        margin-inline: 10px;
        grid-template-areas:
            "name"
            "pic"
            "stats"
            "type";
    }

    .stats {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 35px;
        grid-auto-flow: unset;
    }
    .type small {
        text-align: center;
        display: block;
        margin-top: 10px;
    }
}

button.favorito {
    background: yellow;
    color: black;
    border-color: #5f27d3;
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: 700;
    opacity: .9;
    justify-self: flex-end;
}